push constant 100
push constant 100
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 50
push constant 60
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
return
goto IF_END2
label IF_FALSE2
label IF_END2
push constant 1
return
goto IF_END1
label IF_FALSE1
push constant 2
return
label IF_END1
